# Data Cleaning â€“ Dairy Prices

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the dataset
df = pd.read_csv("../data/dairy_prices.csv", parse_dates=['Date'])

In [4]:
# Preview the dataset
print(df.head())

        Date      Country     Product  Price_EUR_per_kg
0 2022-01-01  Netherlands  Whole Milk              0.80
1 2022-01-01  Netherlands   Skim Milk              0.64
2 2022-01-01  Netherlands      Cheese              1.19
3 2022-01-01  Netherlands      Butter              1.51
4 2022-01-01      Germany  Whole Milk              0.68

In [5]:
# Basic info
print("\nDataset Info:")
print(df.info())

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              720 non-null    datetime64[ns]
 1   Country           720 non-null    object
 2   Product           720 non-null    object
 3   Price_EUR_per_kg  720 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 22.6+ KB
None

In [6]:
# Summary statistics
print("\nSummary statistics:")
print(df.describe())

Summary statistics:
                      Date  Price_EUR_per_kg
count                  720        720.000000
mean   2023-06-16 18:40:00          1.025750
min    2022-01-01 00:00:00          0.510000
25%    2022-09-23 12:00:00          0.700000
50%    2023-06-16 00:00:00          0.955000
75%    2024-03-08 18:00:00          1.332500
max    2024-12-01 00:00:00          1.620000
std                    NaN          0.345673

In [7]:
# Missing values
print("\nMissing values:")
print(df.isnull().sum())

Missing values:
Date                0
Country             0
Product             0
Price_EUR_per_kg    0
dtype: int64

In [8]:
# Remove missing and invalid price rows
df = df.dropna()
df = df[df['Price_EUR_per_kg'] > 0]

In [9]:
# Extract date features
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Quarter'] = df['Date'].dt.to_period('Q')

In [10]:
# Save cleaned data
df.to_csv("../data/dairy_prices_cleaned.csv", index=False)

In [13]:
print(df)

          Date      Country     Product  Price_EUR_per_kg  Year  Month Quarter
0   2022-01-01  Netherlands  Whole Milk              0.80  2022      1  2022Q1
1   2022-01-01  Netherlands   Skim Milk              0.64  2022      1  2022Q1
2   2022-01-01  Netherlands      Cheese              1.19  2022      1  2022Q1
3   2022-01-01  Netherlands      Butter              1.51  2022      1  2022Q1
4   2022-01-01      Germany  Whole Milk              0.68  2022      1  2022Q1
..         ...          ...         ...               ...   ...    ...     ...
715 2024-12-01       Poland      Butter              1.51  2024     12  2024Q4
716 2024-12-01        Italy  Whole Milk              0.76  2024     12  2024Q4
717 2024-12-01        Italy   Skim Milk              0.65  2024     12  2024Q4
718 2024-12-01        Italy      Cheese              1.19  2024     12  2024Q4
719 2024-12-01        Italy      Butter              1.51  2024     12  2024Q4

[720 rows x 7 columns]